{% extends "layout.html" %}
{% block content %}

<div class="container">
        <div class="jumbotron">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                    <h3>Current Child Tweet</h3>
                </div>
            </div> <!-- /row : page description -->
            <br><br>
            <div class="row">
                <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12 pink">
                    <div class="row">
                        <div class="col-lg-12 text-center">
                            <strong>Current Tweet</strong>
                            <br>
                            Mood Distribution
                        </div>
                    </div> <!-- /row : mood distribution title -->
                    <div class="row">
                        <div class="col-lg-12 text-center">
                            <br>
                                <svg version="1.1" class="svg-dot distributed-dot" id="distribute-dot-1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 500 500" xml:space="preserve">
                                    <g>
                                        <circle cx="250" cy="250" r="243.5" id="distribute-dot-1"/>
                                        <text x="100" y="250" font-family="sans-serif" font-size="80px" fill="white">Tentative</text>
                                        <text x="185" y="350" font-family="sans-serif" font-size="70px" fill="white">10%</text>
                                    </g>
                                </svg>
                                <br><br>
                                <svg version="1.1" class="svg-dot distributed-dot" id="distribute-dot-2" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 500 500" xml:space="preserve">
                                    <g>
                                        <circle cx="250" cy="250" r="243.5" id="distribute-dot-2"/>
                                        <text x="170" y="250" font-family="sans-serif" font-size="100px" fill="white">Joy</text>
                                        <text x="180" y="350" font-family="sans-serif" font-size="70px" fill="white">70%</text>
                                    </g>
                                </svg>
                                <br><br>
                                <svg version="1.1" class="svg-dot distributed-dot" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 500 500" xml:space="preserve">
                                    <g>
                                        <circle cx="250" cy="250" r="243.5" id="distribute-dot-3"/>
                                        <text x="80" y="250" font-family="sans-serif" font-size="80px" fill="white">Analytical</text>
                                        <text x="180" y="350" font-family="sans-serif" font-size="70px" fill="white">20%</text>
                                    </g>
                                </svg>
                        </div>
                    </div> <!-- /row : mood dot distribution -->
                </div>
                <div class="col-lg-7 col-md-6 col-sm-8 col-xs-12 text-center">
                        <blockquote class="twitter-tweet"><p lang="en" dir="ltr">Got these amazing stickers from <a href="https://twitter.com/16pxl?ref_src=twsrc%5Etfw">@16pxl</a>! Thank you for throwing in another too, might need to turn my laptop into a mosaic of your work now &lt;3 <a href="https://t.co/Lh0ku09FhP">pic.twitter.com/Lh0ku09FhP</a></p>&mdash; No Data (@thatsryanin3d) <a href="https://twitter.com/thatsryanin3d/status/1228419042098081793?ref_src=twsrc%5Etfw">February 14, 2020</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12">
                    <div class="row">
                        <div class="col-lg-12 text-center">
                            <strong>Current Tweet</strong>
                            <br>
                            Dominant Emotion
                        </div>
                    </div> <!-- /row : dominant child emotion text -->
                    <div class="row">
                        <div class="col-lg-12 text-center">
                            <br>
                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 500 500" xml:space="preserve">
                            <g id="dom-emo">
                                <circle class="svg-dot" cx="251" cy="250" r="243.5"/>
                                <text x="175" y="285" font-family="sans-serif" font-size="100px" fill="white">Joy</text>
                            </g>
                        </svg>
                    </div> <!-- /row : dominant circle current -->
                </div> <!-- /row : dominant emotion -->
                <br><br>
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <strong>Parent Tweet</strong>
                        <br>
                        Dominant Emotion
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <br>
                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 500 500" xml:space="preserve">
                            <g id="big-dot">
                                <circle class="svg-dot" cx="251" cy="250" r="243.5"/>
                                <text x="85" y="285" font-family="sans-serif" font-size="80px" fill="white">Confident</text>
                            </g>
                        </svg>
                    </div> <!-- /row : dominant circle current -->
                </div> <!-- /row : dominant emotion -->


            </div> <!-- /row : embedded tweet area -->
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <!-- (BLANK DIVIDER AREA) -->
                    <br><br>
                </div>
            </div> <!-- /row : divider -->
            <div class="row">
                <!-- <div class="col-lg-9 col-md-8 col-sm-9 col-xs-12 text-center"> -->
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                    <div class="row">
                        <div class="col-lg-12">
                            <strong>Child Tweets</strong>
                        </div>
                    </div> <!-- /row : child tweet map title -->
                    <div class="row">
                        <br>
                        <div class="col-lg-12">
                            <p class="child_dots">&#9679&#9679&#9679&#9679&#9679&#9679&#9679&#9679&#9679&#9679&#9679&#9679&#9679&#9679&#9679&#9679&#9679&#9679&#9679&#9679&#9679&#9679</p>
                            <p class="child_dots">&#9679&#9679&#9679&#9679&#9679&#9679&#9679&#9679&#9679&#9679&#9679&#9679&#9679&#9679&#9679&#9679&#9679&#9679&#9679&#9679&#9679&#9679</p>
                            <p class="child_dots">&#9679&#9679&#9679&#9679&#9679&#9679&#9679&#9679&#9679&#9679&#9679&#9679&#9679&#9679&#9679&#9679&#9679&#9679&#9679&#9679&#9679&#9679</p>
                            <p class="child_dots">&#9679&#9679&#9679&#9679&#9679&#9679&#9679&#9679&#9679&#9679&#9679&#9679&#9679&#9679&#9679&#9679&#9679&#9679&#9679&#9679&#9679&#9679</p>
                        </div>
                    </div> <!-- /row: dot row -->
                </div> 
                    </div> <!-- /row : dominant emotion dot -->
                </div>
            </div>
        </div> <!-- /jumbotron -->
    </div> <!-- /container -->

{% endblock content %}