body {
    background: #262626;
    /* width: 70%; */
    /* margin: auto auto; */
    /* border: 1px solid green; */
    color: white;
    /* padding-left: 10%; */
}
/* 
.nav {
    width: 0em;
    margin: 0 0
} */

.child_dots {
    /* font-size: 20vh; */
    font-size: 15vw;         
    color: #00bdfd;
    line-height: .75;
    /* text-align: center; */
    letter-spacing: 15px;

    text-align: center;
    padding-left: 0;
}

p {
    font-size: 152;
    color:white;
    padding-left: 10%;
}

h2 {
    color: white;
    padding-left: 10%;
}

.twitter-tweet {
    margin-left: 10%;
    /* margin-right: 80%; */
}

.search_text {
    color: black;
}

a:hover{
    color: black;
    text-decoration: none;
    z-index: 9999;
}