/* TESTING CSS */

body {
  background-color: #262626;
  color: #FFFFFF;
}

/*footer {
    padding: 0 0 5px 0;
}*/

.pt-url {
    padding: 10px 5px 0 15px;
}

.pb-btn {
    padding: 2px 5px 0 5px;
}

.jumbotron {
    background-color: transparent !important;
}