/* TESTING CSS */

body {
  background-color: #262626;
  color: #FFFFFF;
  padding-top: 20px;
  padding-bottom: 50px;
}

footer {
    /* padding: 0 0 5px 0; */
    background: #262626;
}

.k_footer {
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 29px;
}

.pt-url {
    padding: 10px 5px 0 15px;
}

.pb-btn {
    padding: 2px 5px 0 5px;
}

.jumbotron {
    background-color: transparent !important;
}

#topdots {
    line-height: 0;
}

.child_dots {
    font-size: 15vw;
    /* font-size: 150px;          */
    color: #00bdfd;
    line-height: .75;
    /* text-align: center; */
    letter-spacing: 15px;

    text-align: center;
    padding-left: 0;
}

p {
    font-size: 152;
    color:white;
    padding-left: 10%;
}

/* h2 {
    color: white;
    padding-left: 10%;
} */

/* .twitter-tweet {
    margin-left: 10%;
    /* margin-right: 80%;
} */

/* .search_text {
    color: black;
} */

a:hover{
    color: black;
    text-decoration: none;
    z-index: 9999;
}