/* TESTING CSS */

body {
  background-color: #262626;
  color: #FFFFFF;
  padding-top: 50px;
  padding-bottom: 50px;
}

.navbar-brand div{
    color: lightgray;
    font-weight: 800;
    /* font-size: 32px; */
    background: rgb(70, 22, 70);
    /* padding: 20px 0; */
    /* line-height: 0; */
    /* margin-right: 100px; */

}

footer {
    /* padding: 0 0 5px 0; */
    background: #262626;
    border-top: 1px solid gray;
}

.k_footer {
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 29px;
  
}

.pt-url {
    padding: 10px 5px 0 15px;
}

.pb-btn {
    padding: 2px 5px 0 5px;
}

.jumbotron {
    background-color: transparent !important;
}

h2 #parent {
    padding-top: 100px;
    margin-bottom: 100px;
}

#topdots h2 {
    /* padding-top: 100px; */
    padding-left: 55px;
}

#parent_dot p {
    font-size: 500px;
    line-height: .56;
    /* padding-left: 30px; */
    /* padding-top: 5px; */
    /* padding-bottom: 5px; */
    /* color: green */
}

.navbar-fixed-top {
    padding-top: 20px;
}

button #submit {
    padding-right: 200px;
}

#topest{
    padding-top: 0px;
    background: #262626;
    color: #262626;
}


/*#childh2 {
     margin-bottom:; 
}*/

.row .col-lg-12 {
    /* color: red; */
    padding-left: 55px;
}

.row .col-lg-12 span{
    /* color: red; */
    font-size: 15px;
    padding-left: 20px;
}

.row .col-xs-6 {
    /* color: green; */
    padding-left: 15px;
}

.child_dots {
    font-size: 15vw;
    /* font-size: 150px;          */
    color: #00bdfd;
    line-height: .75;
    /* text-align: center; */
    letter-spacing: 15px;

    text-align: center;
    padding-left: 0;
}

p {
    font-size: 152;
    color:white;
    padding-left: 10%;
}

/* h2 {
    color: white;
    padding-left: 10%;
} */

/* .twitter-tweet {
    margin-left: 10%;
    /* margin-right: 80%;
} */

/* .search_text {
    color: black;
} */

a:hover{
    /* color: black; */
    text-decoration: none;
    z-index: 9999;
    filter: brightness(1);
}

a:link {
    color: #FFFFFF;
    opacity: 0.4;
}

a:visited {
    color: #FFFFFF;
    opacity: 0.6;
}

a#logo, a#dot {
    opacity: 1.0;
}

input#input-bg {
    background: #D7D7D7;
}

button#main-btn {
    opacity: 0.7;
}

.pt-url {
    padding: 10px 5px 0 15px;
}

.pb-btn {
    padding: 2px 5px 0 5px;
}

.jumbotron {
    background-color: transparent !important;
}

/* --- ASCII DOTS --- */
.child_dots {
    font-size: 100px;         
    line-height: .5;
    letter-spacing: 10px;
    padding-left: 0;
}

/* --- SVG CSS --- */

.svg-dot:hover {
    opacity: 0.75;
}


/* Distributed Dots */

text {
    fill: #FFFFFF;
}

/* TEMPORARY COLORING */
svg g #distribute-dot-1 {
    fill: #534265;
}

svg g #distribute-dot-2 {
    fill: #fffa54;
}

svg g #distribute-dot-3 {
    fill: #b68771;
}

svg #dom-emo {
    fill: #fffa54;
}


/* TEMPORARY COLORING */
svg #big-dot {
    fill: #ba7c93;
}

svg g #big-dot {
    width: 40%;
}

svg g #dom-emo {
    width: 40%;
}

/* TEMPORARY -- DELETE LATER */

/* Mood Distribution Dot */
.distributed-dot {
    width: 50%;
}

svg text {
    display: none;
}

svg g:hover circle {
    opacity: 0.75;
}

svg g:hover text {
    display: block;
}